.header{
    display: flex;
    justify-content: center;
    background-color:  #1E2A35;
    height: 30px;
}
.left{
display: inline-block;

}
.right{
display: inline-block;
}
.right a{
    padding: 10px;

}
.wrapper{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.wrapper a{
    padding-top: 10px;
    color: white;
}
.down-header{
    display: flex;
    background-color: #00353a;
    height: 350px;
    justify-content: center;
}
.wrapper1{
    width: 80%;
    
}
.down{
    margin-top: 90px;
    width: 250px;
}
.upper h1{
    font-size: 25px;
    color:#f2efea;
}
.text-1{
    font-size: 40px;
    margin: 0;
    color:white;
}
.text-2{
    margin-top: 10px;
    color:#b2b2b2;

    ;
}
.sp{
    color: #28c69a;
}
.carsf{
    display: flex;
}
.carwindow{
    display: flex;
    margin: 10px;
    border: 1px solid gray;
}
.carname{
    font-weight: 600;
    font-size: 19px;
    line-height: 24px;
    color: #333e50;
    margin-top: 25px;
    justify-content: space-around;
    margin-left: 10px;
}
.carspecifications{
    color: #79818c;
    justify-content: start;
    margin: 50px 0px 0px -70px 

}
.pricename{
    display: flex;
    color:#333e50;
   
    
}
.pricename{
    justify-content: space-between;
    margin: 150px 50px 21px -50px;
    flex-grow: 1;
  
}
.price{
    display: inline-block;
}
.pricedays{
    display: inline-block;
    margin-left: 150px;
}
